<div class="wrapper" (click)="closeModal()">
  <div class="popup" (click)="stopProp($event)">
    <div class="close" (click)="closeModal()">&#x2715;</div>

    <div class="title">Огромное спасибо за ваше желание поддержать белорусскую музыку!</div>
    <div class="subtitle">Свяжитесь пожалуйста с нами в удобное для вас время:</div>

    <div class="subtitle">Телефон</div>
    <div class="contact">+375 44 760-94-84</div>

    <div class="subtitle">E-mail</div>
    <div class="contact">sluhay.by@gmail.com</div>

    <div class="button button_dark" (click)="closeModal()">Закрыть</div>
  </div>
</div>
