@import "../../../theme/mixins.scss";
@import "../../../theme/colors.scss";

.person {
  width: 100%;
  @include flexMix;
  flex-wrap: nowrap;
  color: white;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  &__avatar {
    width: 240px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  .info {
    width: 100%;
    @include flexMix;
  }

  &__status {
    width: 35%;
    height: 240px;
    @include flexMix($align: flex-start, $direction: column);
    box-sizing: border-box;
    padding-left: 30px;
    background-color: $dark-color;
    flex-shrink: 0;
    text-transform: uppercase;

    .text {
      display: none;
    }

    .name {
      font-family: 'Code Pro Bold';
      font-size: 20px;
      margin-bottom: 20px;
    }

    .role {
      @include fontStyle($color: $active-font);
    }
  }

  &__pay {
    width: 100%;
    height: 240px;
    @include flexMix($align: flex-start, $direction: column);
    box-sizing: border-box;
    padding-left: 30px;
    background-color: $medium-color;
    padding-right: 20px;

    .text {
      font-size: 30px;
      font-family: 'Code Pro Bold';
      text-transform: uppercase;

      &_small {
        font-size: 14px;
      }

      &_medium {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .person {
    .info {
      flex-direction: column;
    }

    &__status {
      width: 100%;
      height: 120px;
    }

    &__pay {
      height: 120px;
    }
  }
}

@media screen and (max-width: 767px) {
  .person {
    &__avatar {
      width: 130px;
      height: 150px;
    }
    &__status {
      width: 100%;
      height: 150px;
      flex-shrink: 1;

      .name {
        margin-bottom: 5px;
      }

      .role {
        font-size: 10px;
        margin-bottom: 10px;
      }

      .text {
        display: inline;
        font-size: 12px;
      }
    }

    &__pay {
      display: none;
    }
  }
}
