<app-header></app-header>
<app-banner [isStub]="true"></app-banner>

<div class="wrapper">
  <app-reward-about-card></app-reward-about-card>
</div>

<div class="wrapper">
  <app-reward-description></app-reward-description>
</div>

<div class="wrapper">
  <app-types-of-coefficients></app-types-of-coefficients>
</div>

<div class="agreement-wrapper">
  <div class="agreement-wrapper__quote">
    <app-quote [quote]="quoteText"></app-quote>
  </div>
</div>

<div class="wrapper" id="subscriptions">
  <app-subscription></app-subscription>
</div>
