@import '../../../theme/mixins.scss';
@import '../../../theme/colors.scss';
@import '../../../theme/fonts.scss';

.wrapper {
  width: 100%;
  height: 100vh;
  background: rgba($color: black, $alpha: .6);
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  @include flexMix;

  .popup {
    width: 95%;
    height: 95%;
    background-color: white;
    min-width: 320px;
    @include flexMix;
    position: relative;
    padding: 25px 0;
    box-sizing: border-box;

    .content {
      width: 100%;
      height: 100%;
      @include flexMix($direction: column);
      text-align: center;

      .name {
        color: black;
        text-transform: uppercase;
        font-family: 'Code Pro Bold';
        margin-bottom: 10px;
      }

      .genre {
        color: $active-font;
        margin-bottom: 10px;
      }

      .description {
        font-size: 13px;
        color: $muted-font;
      }

      .poster {
        width: 100%;
        margin-bottom: 15px;
        max-width: 500px;
      }
    }

    .arrow {
      font-size: 40px;
      padding: 0 25px;
      cursor: pointer;
      box-sizing: border-box;
    }

    .close {
      font-size: 25px;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      color: gray;
    }
  }
}
