@import '../../../theme/mixins.scss';
@import '../../../theme/colors.scss';
@import '../../../theme/fonts.scss';

.support {
  width: 1430px;
  @include flexMix;
  padding: 120px 0;
  box-sizing: border-box;

  &__persons {
    width: 60%;
    flex-shrink: 0;
    position: relative;
    height: 510px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;

    .button {
      display: none;
    }
  }

  &__myself {
    padding-left: 130px;
    box-sizing: border-box;
    @include flexMix($align: flex-start, $direction: column);
    position: relative;
    z-index: 1;

    .snow-flake {
      position: absolute;
      left: -200px;
      top: calc(50% - 200px);
      z-index: 0;
    }

    .logo {
      margin-bottom: 45px;
    }

  }
}


@media screen and (max-width: 1430px) {
  .support {
    width: 100%;
  }
}

@media screen and (max-width: 1010px) {
  .support {
    @include flexMix($direction: column-reverse);
    &__myself {
      padding-left: 40px;
      margin-bottom: 30px;
    }

    &__persons {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .support {
    &__persons {
      overflow: visible;
      height: auto;

      .button {
        display: flex;
        margin: 0 auto;
        margin-top: 50px;
      }
    }

    &__myself {
      .button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 545px) {
  .support {
    &__myself {
      align-items: center;
      padding-left: 5px;

      .title {
        text-align: center;
      }

      .snow-flake {
        width: 60%;
        left: 20%;
        top: 20%;
      }
    }
  }
}


::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $active-font;
  height: 40px;
}
