<div class="support">
  <div class="support__persons">

    <app-support-person [person]="item" *ngFor="let item of supportPersons"></app-support-person>
  </div>

  <div class="support__myself">
    <img src="assets/snow_flake.png" class="snow-flake" alt="">
    <img class="logo" src="assets/logo_main.png" alt="">
    <span class="title">они <br> поддерживают белорусскую <br> музыку</span>
    <a href="http://ott.by/product/podderzhka-5-rubley-bel-muzykantov-2" target="_blank" class="button">
      <img src="assets/play.png" alt="">
      хочу поддержать
    </a>
  </div>
</div>
