<header class="header" [class.header_gradient]="!isWhite">
  <div class="header__fragments">
    <div
      class="header__fragments__item"
      (click)="selectFragment(item.tag)"
      *ngFor="let item of headerItems"
    >
      {{ item.name }}
    </div>
  </div>
  <div class="header__pages">
    <div
      class="header__pages__item"
      [routerLink]="page.url"
      *ngFor="let page of headerPages"
    >
      {{ page.name }}
    </div>
  </div>
  <app-menu class="header_menu"></app-menu>
</header>

