@import "../../../theme/mixins.scss";

.header {
  width: 100%;
  height: 125px;
  @include flexMix(space-around);
  left: 0;
  top: 0;
  z-index: 10;

  &__fragments,
  &__pages {
    font-family: "Code Pro LC";
    position: relative;
    @include flexMix;
    &__item {
      text-transform: uppercase;
      cursor: pointer;
      margin-right: 38px;
      color: white;
      outline: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__menu{
    display: none;
  }

  &_gradient {
    background: linear-gradient(to bottom, black, transparent);
    position: absolute;
  }
}

@media screen and (max-width: 1500px) {
  .header {
    &__fragments,
    &__pages {
      &__item {
        font-size: 14px;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__menu{
      display: block;
    }
    &__fragments,
    &__pages {
      display: none;
    }
  }
}
