<div class="support">
  <div class="support__myself">
    <img class="logo" src="assets/logo_channel.png" alt="">
    <span class="title">эти компании <br> поддерживают белорусскую <br> музыку</span>
    <div class="button" (click)="openModal()">
      <img src="assets/play.svg" alt="">
      хочу поддержать
    </div>

    <img src="assets/snow_flake.png" class="snow-flake" alt="">
  </div>

  <div class="support__persons support__persons_left">
    <app-support-company [company]="item" *ngFor="let item of supportCompanies"></app-support-company>
  </div>
</div>
