<div class="subscription">
  <span class="subscription__text">подписка<br> на рассылку</span>

  <form class="form" action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
    <input type="text" placeholder="E-mail" name="email" class="form__email">
    <input type="hidden" name="campaign_token" value="oO1IO" />
    <input type="hidden" name="thankyou_url" value="http://sluhay.by/spasibo_za_podpisku" />
    <input type="hidden" name="start_day" value="0" />

    <label class="form__button">
      <img src="assets/play.png" alt="">
      отправить
      <input class="hidden" type="submit" value="Подписаться" />
    </label>
  </form>

</div>
