@import '../../../theme/colors.scss';

.item {
  margin-right: 20px;
  flex-shrink: 0;
  padding-bottom: 30px;

  &__image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;

    &::after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__name {
    font-family: 'Code Pro Bold LC';
    font-size: 20px;
    margin-top: 25px;
    text-transform: uppercase;
  }

  &__genre {
    color: $active-font;
    font-family: 'Code Pro LC';
    font-size: 18px;
    margin-top: 18px;
  }

}
