@import "../../../theme/mixins.scss";
@import "../../../theme/colors.scss";

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  &_fullscreen {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: black;
    object-fit: contain;
    @include flexMix;
  }

  .banner-content {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 99.52%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 130px;
    @include flexMix($justify: flex-start, $direction: column);
    z-index: 3;

    &__name {
      margin-top: 100px;
      text-transform: uppercase;
      font-family: "Code Pro";
      @include fontStyle(36px, white);

      &_active {
        color: $active-font;
      }
    }

    &__title-mob {
      display: none;
      font-size: 15px;
      font-family: "Code Pro LC";
      color: white;
      margin-top: 37px;
      margin-bottom: 76px;
    }

    &__big-title {
      text-transform: uppercase;
      font-size: 35px;
      font-family: "Code Pro Light";
      color: white;
      opacity: 0.5;
      text-align: center;
      margin-top: 40px;
    }

    &__letstart {
      font-size: 12px;
      font-family: "Code Pro Light";
      position: absolute;
      bottom: 100px;
      color: white;
      text-transform: uppercase;
      text-align: center;
      outline: none;
      cursor: pointer;

      img {
        padding-top: 10px;
        width: 22px;
      }
    }
  }

  .play-btn {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba($color: $active-font, $alpha: 0.7);
    box-shadow: 0 0 0 20px rgba($color: $active-font, $alpha: 0.2);
    @include flexMix;
    position: absolute;
    bottom: 30%;
    left: calc(50% - 40px);
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      border: 1px solid white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      left: 15px;
      top: 15px;
      box-sizing: border-box;
    }

    &__image {
      width: 25%;
      margin-left: 4px;
    }
  }

  .controls {
    width: 100%;
    height: 60px;
    @include flexMix($justify: space-between);
    padding: 0 25px;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    background: linear-gradient(to top, black, transparent);

    &__group {
      @include flexMix;

      .onair {
        margin-left: 20px;
        text-transform: uppercase;
        position: relative;
        color: white;

        &::after {
          content: "";
          width: 5px;
          height: 5px;
          background-color: $active-font;
          border-radius: 50%;
          position: absolute;
          left: -8px;
          top: 7px;
        }
      }
    }

    img {
      height: 20px;
      cursor: pointer;
      margin-right: 20px;
    }
  }

  .player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    .banner-content {
      padding-top: 140px;
    }
  }
}

@media screen and (max-width: 1120px) {
  .wrapper {
    .banner-content {
      padding-top: 130px;
      img {
        width: 100px;
      }

      &__big-title {
        font-size: 22px;
      }

      &__letstart {
        bottom: 20px;

        img {
          width: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .wrapper {
    .banner-content {
      &__name {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .wrapper {
    .banner-content {
      padding-top: 80px;
    }

    &__title-mob {
      display: inline;
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    height: 720px;

    .banner-content {
      padding-top: 130px;
      &__name {
        margin-top: 80px;
        font-size: 28px;
      }

      &__big-title {
        font-size: 18px;
        font-size: 32px;
        margin-top: 38px;
      }
    }
  }
}
