<div class="wrapper" [class.wrapper_fullscreen]="isFullscreen">
  <video #player playsinline class="player"></video>

  <div class="banner-content" *ngIf="!isFullscreen">

    <span class="banner-content__title-mob">
      канал белорусской музыки
    </span>

    <img src="assets/logo_main_big.png" alt="">

    <span class="banner-content__name">
      sluhay<span class="banner-content__name banner-content__name_active">.by</span>
    </span>

    <span class="banner-content__big-title">
      канал <br>белорусской музыки
    </span>

    <!-- <div class="play-btn" (click)="openFullscreen()">
      <img class="play-btn__image" src="assets/play.svg" alt="">
    </div> -->
    <span class="banner-content__letstart" routerLink="/" fragment="channel">
      начни слушать белорусское <br>
      <img src="assets/arrow_down.png" alt="">
    </span>
  </div>


  <!-- <div class="controls" >
    <div class="controls__group">
      <ng-container *ngIf="isPlay then pause else play"></ng-container>
      <app-sound-range [isWhite]="true" (changeEvent)="onVolumeChange($event)"></app-sound-range>

      <div class="onair">on air</div>
    </div>

    <img (click)="toggleFullscreen()" src="assets/fullscreen.png" alt="">
  </div> -->
</div>

<ng-template #play>
  <img (click)="togglePlay()" src="assets/play.svg" alt="">
</ng-template>

<ng-template #pause>
  <img (click)="togglePlay()" src="assets/pause.svg" alt="">
</ng-template>


