<div class="card">
  <div class="block">
    <div class="block__left">
      <div class="description-text mobile-text">
        Каждый артист получает свой процент от общего фонда в зависимости от
        доли его произведений в общем количестве произведений находящихся в
        ротации.
      </div>
      <img src="../../../../../assets/mail-laptop.png" />
    </div>
    <div class="block__right">
      <div class="description-text desctop-text">
        Каждый артист получает свой процент от общего фонда в зависимости от
        доли его произведений в общем количестве произведений находящихся в
        ротации.
      </div>
      <div class="description-text">
        Ежемесячно каждому артисту на электронную почту Sluhay.by высылает отчёт
        о вознаграждении за месяц.
      </div>
      <div class="description-text">
        По достижении суммы выплаты в 50 бел. руб. происходит заключение
        договора и осуществляется выплата денежных средств.
      </div>
    </div>
  </div>
</div>
