@import "../../../../../theme/mixins.scss";
@import "../../../../../theme/colors.scss";
@import "../../../../../theme/fonts.scss";

.card {
  @include flexMix(center, center);
  width: 99vw;
  height: 550px;
  .block {
    height: 100%;
    @include flexMix(center, center);
    &__left {
      @include flexMix(center, center, column);
      padding-left: 35px;
      padding-right: 70px;
      :first-child {
        display: none;
      }
    }
    &__right {
      @include flexMix(center, center, column);
      padding-left: 70px;
    }
  }
  background: $odd-background;
}

.description-text {
  margin: 20px 0px;
  text-align: start;
  line-height: 30px;
  width: 420px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1280px) {
  .card {
    height: auto;
    .block {
      @include flexMix(center, center, column);
      &__left {
        :first-child {
          display: flex;
        }
        margin-top: 30px;
        padding-right: 0px;
      }
      &__right {
        :first-child {
          display: none;
        }
        height: auto;
        padding-left: 0px;
        margin-bottom: 30px;
      }
    }
  }

  .description-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: auto;
    .block {
      @include flexMix(center, center, column);
      &__left {
        padding-left: 0px;
        img {
          width: 250px;
        }
      }
    }
  }

  .description-text {
    width: 300px;
  }
}
