<div class="card" [class.card_reverse]="side === sides.RIGHT">
  <div class="card__video">
    <app-player [url]="content.url" [controls]="true" [autoplay]="false" [poster]="poster"></app-player>
    <img class="snow-flake" src="assets/snow_flake.png" alt="">
  </div>

  <div class="card__data">
    <app-band-logo class="card__data-content" [data]="content.genre"></app-band-logo>
    <div class="container">
      <span class="card__data-text">sluhay<span class="card__data-text card__data-text_red">.{{ content.genre | appCutPipe }}</span></span>
      <span class="card__data-additional">{{ content.text }}</span>
    </div>
  </div>
</div>
