@import "../../../theme/mixins.scss";
@import "../../../theme/colors.scss";
@import "../../../theme/fonts.scss";

.card {
  @include flexMix;
  width: 1430px;
  margin-bottom: 100px;

  &_reverse {
    flex-direction: row-reverse;

    .snow-flake {
      left: -25%;
    }
  }

  &__video {
    position: relative;
    width: 55%;
    flex-shrink: 0;

    video {
      width: 100%;
      position: relative;
      z-index: 1;
    }

    .snow-flake {
      position: absolute;
      top: 0;
      right: -25%;
    }

    &-content {
      width: 100%;
    }
  }

  &__data {
    @include flexMix($align: flex-start, $direction: column);
    width: 30%;
    flex-shrink: 0;
    padding-left: 110px;
    box-sizing: border-box;
    text-transform: uppercase;

    .container {
      @include flexMix($align: flex-start, $direction: column);
      margin-top: 45px;
    }

    &-text {
      color: $main-font;
      font-size: 36px;
      font-family: "Code Pro";

      &_red {
        color: $active-font;
      }
    }

    &-additional {
      font-family: "Code Pro Light";
      color: $muted-font;
      font-size: 32px;
      margin-top: 45px;
    }
  }
}

@media screen and (max-width: 1430px) {
  .card {
    width: 100%;

    &__data {
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 878px) {
  .card {
    flex-direction: column-reverse;

    &__video {
      width: 100%;

      .snow-flake {
        left: 25%;
        top: -40%;
        width: 50%;
      }
    }

    &__data {
      width: 90%;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      padding-left: 0;

      &-text {
        font-size: 30px;
      }

      &-additional {
        font-size: 24px;
        margin-top: 15px;
      }

      .container {
        margin-left: 30px;
        margin-top: 0;
      }
    }
  }
}
