.quote {
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 35px 40px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  white-space: break-spaces;
}
