<div class="about">
  <div class="body">
    <div class="body__text">
      <div class="reward-text">
        <h2>вознаграждение</h2>
        За использование Ваших песен Sluhay.by выплачивает денежное
        вознаграждение
      </div>
      <div class="agreement-wrapper">
        <div class="agreement-wrapper__quote">
          <app-quote [quote]="quoteText"></app-quote>
        </div>
      </div>
    </div>
    <div class="body__image">
      <img src="../../../../../assets/artist.png" />
    </div>
  </div>
</div>
