@import "../../../../theme/mixins.scss";
@import "../../../../theme/colors.scss";
@import "../../../../theme/fonts.scss";

.card {
  @include flexMix(center, space-around);
  width: 99vw;
  margin-bottom: 130px;
  .block {
    width:49%;
    box-sizing: border-box;
    width: px;
    height: 1100px;
    padding-bottom: 100px;
    &--left{
      @include flexMix(space-between, flex-end, column);
    }
    &--right{
      @include flexMix(space-between, center, column);
    }
    &__text {
      margin-top: 10px;
      width: 400px;
    }
    &__img {

    }
  }
  // background: url("../../../../assets/laptop.png");
  // background-repeat: no-repeat;
  // background-position-y: bottom;
}
.mail-text {
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  width: 420px;
  margin: 30px 0px;
  font-family: Arial, Helvetica, sans-serif;
  &--red {
    color: red;
  }
}

.mail-requirements {
  text-align: start;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  width: 420px;
  font-family: Arial, Helvetica, sans-serif;
  .red {
    color: red;
  }
  &__header{
    font-weight: bolder;
  }
  &__list {
    list-style-image: url('../../../../assets/marker.png');
    padding: inherit;
    padding-left: 18px;
    li{
      padding-left: 20px;
    }
  }
}

.mandatory-requirements{
  width: 500px;
  &__list{
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    &__text{
      padding-left: 20px;
    }
    ol{
      padding-left: 25px;
    }
    li::marker{
      font-size: 25px;
      color: red;
    }
  }
}

