<div class="card">
  <div class="block block--top">
    <div class="block__left">
      <h2>Для попадания в ротацию</h2>
      <div class="mail-text">
        Присылайте пожалуйтса Ваш материал на адрес электронной почты:
        <a class="mail-text--red" href="mailto:sluhay.by@gmail.com"
          >sluhay.by@gmail.com</a
        >.
      </div>
      <div class="mail-requirements">
        <h3 class="mail-requirements__header">В тексте письма укажите</h3>
        <ul class="mail-requirements__list">
          <li><div>Название группы / испонителя</div></li>
          <li><div>Описание</div></li>
          <li><div>Фото</div></li>
          <li><div>Ссылки на соц сети</div></li>
          <li>
            <div>
              Ссылку в максимальном качестве на аудио / видео материал (можно
              через любой файлообменник / или youtube канал).
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="block__right">
      <img src="../../../../assets/singer.png" />
    </div>
  </div>
  <div class="block block--bottom">
    <div class="block__left">
      <img src="../../../../assets/laptop.png" />
    </div>
    <div class="mandatory-requirements block__right">
      <h1>Обязательные требования</h1>
      <div class="mandatory-requirements__list">
        <ol>
          <li>
            <div class="mandatory-requirements__list__text">
              Группа / исполнитель / автор должны быть белорусские
            </div>
          </li>
          <li>
            <div class="mandatory-requirements__list__text">
              Размещение ссылки на сайт <span class="red">Sluhay.by</span> или
              инстаграм в социальных сетях артиста
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
