<div class="calculation">
  <div class="body">
    <div class="body__image">
      <div class="header-text">
        <h1>Пример полного расчёта с учётом коэффициентов</h1>
      </div>
      <img src="../../../../../assets/calculator.png" />
    </div>
    <div class="body__description">
      <div class="description-info">
        <div class="description-info__header bold-text">Пример:</div>
        <div class="description-info__text">
          Фонд выплаты артистам составляет в месяц:
          <span class="bold-text">1000 бел. руб.</span>
        </div>
      </div>
      <div class="description-info">
        <div class="description-info__header bold-text">
          Общее количество песен в ротации: 2000
        </div>
        <div class="description-info__header bold-text">Из них:</div>
        <div class="description-info__text">
          100 аудио песен X коэффициент «1» = 100 баллов.
        </div>
        <div class="description-info__text">
          95 видео песен X коэффициент «2» =190 баллов.
        </div>
        <div class="description-info__text">
          5 песен эксклюзивно для Sluhay X коэффициент «10» = 50 баллов.
        </div>
        <div class="description-info__text">
          ИТОГО: <span class="bold-text">340 баллов</span>
        </div>
      </div>
      <div class="description-info">
        <div class="description-info__header bold-text">
          Песен в ротации у определённого артиста: 10
        </div>
        <div class="description-info__header bold-text">Из них:</div>
        <div class="description-info__text">
          8 аудио песен X коэффициент «1» = 8 баллов.
        </div>
        <div class="description-info__text">
          1 видео песня X коэффициент «2» = 2 балла.
        </div>
        <div class="description-info__text">
          1 песня эксклюзивно для Sluhay X коэффициент «10» = 10 баллов.
        </div>
        <div class="description-info__text">
          ИТОГО: <span class="bold-text">20 баллов</span>
        </div>
      </div>
      <div class="description-info">
        <div class="description-info__header bold-text">
          Песен в ротации у определённого артиста: 10
        </div>
        <div class="description-info__header bold-text">Из них:</div>
        <div class="description-info__text">
          8 аудио песен X коэффициент «1» = 8 баллов.
        </div>
        <div class="description-info__text">
          1 видео песня X коэффициент «2» = 2 балла.
        </div>
        <div class="description-info__text">
          1 песня эксклюзивно для Sluhay X коэффициент «10» = 10 баллов.
        </div>
        <div class="description-info__text">
          ИТОГО: <span class="bold-text">20 баллов</span>
        </div>
      </div>
      <div class="description-info">
        <div class="description-info__text">
          Доля ариста в общем фонде вознаграждения составляет:
        </div>
        <div class="description-info__text bold-text">
          5,88% (20 баллов / 340 баллов)
        </div>
      </div>
      <div class="description-info">
        <div class="description-info__text">
          Вознаграждение артиста за месяц составит:
        </div>
        <div class="description-info__text bold-text result-text">
          1000 бел. руб. X 5,88% = 58,8 бел. руб.
        </div>
      </div>
    </div>
  </div>
</div>
