@font-face {
  font-family: 'Code Source Light';
  src: url('../assets/fonts/SourceCodePro-Light.ttf');
}

@font-face {
  font-family: 'Code Source Medium';
  src: url('../assets/fonts/SourceCodePro-Medium.ttf');
}

@font-face {
  font-family: 'Code Source Bold';
  src: url('../assets/fonts/SourceCodePro-Bold.ttf');
}
