@font-face {
  font-family: 'Code Pro LC';
  src: url('../assets/fonts/Code_Pro_LC.ttf');
}

@font-face {
  font-family: 'Code Pro Bold';
  src: url('../assets/fonts/Code_Pro_Bold.ttf');
}

@font-face {
  font-family: 'Code Pro Bold LC';
  src: url('../assets/fonts/Code_Pro_Bold_LC.ttf');
}

@font-face {
  font-family: 'Code Pro LC';
  src: url('../assets/fonts/Code_Pro_LC.ttf');
}

@font-face {
  font-family: 'Code Pro Light';
  src: url('../assets/fonts/Code_Pro_Light.ttf');
}

@font-face {
  font-family: 'Code Pro Light LC';
  src: url('../assets/fonts/Code_Pro_Light_LC.ttf');
}

@font-face {
  font-family: 'Code Pro';
  src: url('../assets/fonts/Code_Pro.ttf');
}
