@import '../../../theme/colors.scss';
@import '../../../theme/mixins.scss';

.custom-slider {
  width: 100%;
  @include flexMix;

  .icon {
    margin-right: 10px;
  }

}

::ng-deep {
  .ngx-slider {
    margin: 0 !important;
    width: 60px !important;
  }
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: pink;
    height: 5px;
    margin: 0;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: $active-font;
    z-index: 10000000;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }



  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 15px;
    margin-left: 4px;
    border-radius: 0;
    background: black;
    top: -1px;
  }



}
