@import '../theme/mixins.scss';
@import '../theme/colors.scss';
@import '../theme/fonts.scss';

.wrapper {
  @include flexMix($direction: column);

  &_odd {
    background: $odd-background;
  }
}

.video {
  width: 100%;
  margin-bottom: 130px;
}
