@import '../theme/mixins.scss';
@import '../theme/colors.scss';
@import '../theme/fonts.scss';

.wrapper {
  @include flexMix($direction: column);

  &_odd {
    background: $odd-background;
  }

  &_footer {
    border-top: 44px solid $light-color;
    height: 260px;
    text-transform: uppercase;
    @include fontStyle(24px, $muted-font);
    font-family: 'Code Source Light';

    span {
      margin-bottom: 25px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.copyright {
  font-size: 16px;
}


