<app-header></app-header>

<div class="banner">
  <video #video class="video"></video>

  <div class="banner__content">
    <img src="assets/logo_main_big.png" alt="">

    <span class="banner__content-name">
      sluhay<span class="banner__content-name banner__content-name_active">.by</span>
    </span>
  </div>
</div>


<div class="wrapper">
  <app-content-card *ngFor="let item of contentCards; let even=even" [content]="item" [side]="even ? sides.LEFT : sides.RIGHT"></app-content-card>
</div>

<div class="wrapper wrapper_odd">
  <app-bands [selectedGenreId]="activeGenreId" [genres]="genres" [bands]="filteredBands" (changeGenre)="onGenreChange($event)"></app-bands>
</div>

<div class="wrapper">
  <div class="support">
    <div class="support__persons">
      <img src="assets/snow_flake.png" class="snow-flake" alt="">
      <app-support-person [person]="item" *ngFor="let item of supportPersons"></app-support-person>
    </div>

    <div class="support__myself">
      <img class="logo" src="assets/logo_main.png" alt="">
      <span class="title">они <br> поддерживают белорусскую <br> музыку</span>
      <button class="button">
        <img src="assets/play.png" alt="">
        хочу поддержать
      </button>
    </div>
  </div>
</div>


