@import "../../../../../theme/mixins.scss";
@import "../../../../../theme/colors.scss";
@import "../../../../../theme/fonts.scss";

.coefficients {
  @include flexMix(center, center, column);
  margin-top: 90px;
  width: 99vw;
  &__item {
    width: 970px;
    &__image {
      padding: 0px 30px;
    }
    &--right-align {
      @include flexMix(space-between, flex-start, row-reverse);
    }
    &--left-align {
      @include flexMix(space-between, flex-start);
    }
  }
}

.explanatory-info {
  width: 670px;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &__header {
    color: red;
  }
  &__text {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.agreement-wrapper {
  @include flexMix(center);
  width: 100%;
  margin: 50px 0px;
  &__quote {
    font-size: 15px;
    width: 680px;
  }
}

@media screen and (max-width: 1280px) {
  .coefficients {
    text-align: center;
    margin-top: 30px;
    &__item {
      width: auto;
      &__image {
        padding: 0px 0px;
      }
      &--right-align,
      &--left-align {
        @include flexMix(center, center, column);
      }
    }
  }

  .explanatory-info {
    width: 80%;
    &--left,
    &--right {
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .agreement-wrapper {
    width: 300px;
    &__quote {
      width: 100%;
    }
  }
}
