<div class="wrapper" (click)="closeModal()">
  <div class="modal" (click)="stopProp($event)">
    <div class="close" (click)="closeModal()">&#x2715;</div>
    <h2 class="title">
      Огромное спасибо за ваше желание поддержать белорусскую музыку!
    </h2>
    <span class="subtitle">Напишите пожалуйста в форме ниже пару слов о Вашей компании и мы с Вами обязательно свяжемся</span>
    <form class="form" action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
      <div class="form-line">
        <input type="text" placeholder="Ваше имя" name="first_name" />
        <input name="custom_company" type="text" placeholder="Название компании" value="" />
      </div>

      <div class="form-line">
        <input name="custom_phone" placeholder="Телефон" type="text" value="" />
        <input type="text" placeholder="Эл. почта" name="email" />
      </div>

      <div class="form-line">
        <textarea name="custom_comment" placeholder="Добавьте сообщение..."></textarea>
      </div>

      <input type="hidden" name="campaign_token" value="oGzLv" />
      <input type="hidden" name="thankyou_url" value="http://sluhay.by/spasibo" />
      <input class="send" type="submit" value="Отправить" />
    </form>
  </div>
</div>
