<div class="card">
  <div class="block block--top">
    <div class="block__left">
      <div class="rotation-text">
        <h2>ротация</h2>
        приглашаем белорусские группы, авторов и исполнителей разместить свою
        музыку на площадке <span class="rotation-text--red">SLUHAY.BY</span>
      </div>
    </div>
    <div class="block__right">
      <img src="../../../../../assets/musicians.png" />
    </div>
  </div>
  <div class="block block--bottom">
    <div class="block__left block__left--img">
      <img src="../../../../../assets/microphones.png" />
    </div>
    <div class="block__right">
      <div class="about-text">
        <h1 class="about-text__header">SLUHAY.BY</h1>
        Sluhay.by - это музыкальный канал с музыкой только белорусских групп и
        исполнителей. Музыка всех стилей и направлений. Музыка разная, но
        объединяет её одно - она наша - написанная и сыгранная белорусскими
        группами и исполнителями.
      </div>
    </div>
  </div>
</div>
