<div class="obtaining-rules">
  <div class="obtaining-rules__rules">
    <h1 class="rules-header">Для получения вознаграждения</h1>
    <ol class="rules-list">
      <li class="rules-list__rule">
        Необходимо попасть в ротацию Sluhay.by (для этого отправляйте свои
        произведения на
        <a class="red-link" href="mailto:sluhay.by@gmail.com"
          >sluhay.by@gmail.com</a
        >)
      </li>
      <li class="rules-list__rule">
        Разместить ссылки на Sluhay.by во всех социальных сетях артиста
      </li>
      <li class="rules-list__rule">
        Отправить на
        <a class="red-link" href="mailto:sluhay.by@gmail.com"
          >sluhay.by@gmail.com</a
        >
        сообщение с ссылками на соц. сети и названием письма "Вознаграждение"
      </li>
      <li class="rules-list__rule">
        После проверки со стороны команды Sluhay.by, вы получите письмо с
        ответом о том, что вы добавлены для получения вознаграждения, либо
        письмо с комментариями что нужно исправить
      </li>
    </ol>
  </div>
  <img
    class="obtaining-rules__image"
    src="../../../../../assets/human-with-money.png"
  />
</div>
