<div class="card">
  <div class="block">
    <div class="block__text">
      <h1>ротация</h1>
      <div class="rotation-text">
        приглашаем белорусские группы, авторов и исполнителей разместить свою
        музыку на площадке <span class="rotation-text--red">SLUHAY.BY</span>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block__img">
      <img src="../../../../assets/musicians.png" />
    </div>
    <div class="block__text">
      <h1>SLUHAY.BY</h1>
      <div class="about-text">
        Sluhay.by - это музыкальный канал с музыкой только белорусских групп и
        исполнителей. Музыка всех стилей и направлений. Музыка разная, но
        объединяет её одно - она наша - написанная и сыгранная белорусскими
        группами и исполнителями.
      </div>
    </div>
  </div>
</div>
