<div class="obtaining-rules">
  <div class="obtaining-rules__rules">
    <h1 class="rules-header">Для получения вознаграждения</h1>
    <ol class="rules-list">
      <li class="rules-list__rule">
        Необходимо попасть в ротация SLUHAY (для этого оправляйте свои
        произведения на
        <a class="red-link" href="mailto:sluahy.by@gmail.com"
          >sluahy.by@gmail.com</a
        >)
      </li>
      <li class="rules-list__rule">
        Разместить ссылки на SLUHAY.BY во всех социальных сетях артиста
      </li>
      <li class="rules-list__rule">
        Отправить на
        <a class="red-link" href="mailto:sluahy.by@gmail.com"
          >sluahy.by@gmail.com</a
        >
        сообщение с ссылками на соц. сети и названием письма "Вознаграждение"
      </li>
      <li class="rules-list__rule">
        После проверки со стороны команды SLUHAY.BY, вы получите письмо с
        ответом о том, что вы добавлены для получения вознаграждения, либо
        письмо с комментариями что нужно исправить
      </li>
    </ol>
  </div>

  <img
    class="obtaining-rules__image"
    src="../../../../../assets/human-with-money.png"
  />
</div>
