@import "../../../../theme/mixins.scss";
@import "../../../../theme/colors.scss";
@import "../../../../theme/fonts.scss";

.card {
  @include flexMix(center, center, column);
  width: 99vw;
  margin-bottom: 80px;
  .block {
    width: 100%;
    &--top {
      height: 630px;
      @include flexMix(center, flex-start);
    }
    &--bottom {
      height: 500px;
      @include flexMix(flex-start, flex-end);
    }
    &__left {
      @include flexMix(flex-end, flex-start);
      padding-right: 50px;
      &--img {
        width: 45vw;
      }
    }
    &__right {
      padding-left: 50px;
      height: 100%;
    }
  }
  background: url("../../../../assets/band-background.png") no-repeat;
  background-position-y: bottom;
  background-size: auto;
  background-position-x: left;
}

.rotation-text {
  margin-top: 60px;
  line-height: 30px;
  font-size: 23px;
  width: 400px;
  &--red {
    color: red;
  }
}

.about-text {
  @include flexMix(center, flex-start, column);
  height: 100%;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  width: 420px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1000px) {
  .card {
    margin-bottom: 80px;
    .block {
      &--top {
        height: 800px;
        @include flexMix(center, center, column);
      }
      &--bottom {
        height: 800px;
        @include flexMix(center, center, column-reverse);
      }
      &__left {
        @include flexMix(flex-end, flex-start);
        padding-right: 0px;
      }
      &__right {
        padding-left: 0px;
      }
    }
  }
  .rotation-text {
    margin-bottom: 30px;
    text-align: center;
  }

  .about-text {
    @include flexMix(center, center, column);
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .card {
    margin-bottom: 40px;
    .block {
      &--top {
        height: auto;
        @include flexMix(center, center, column);
      }
      &--bottom {
        height: auto;
        margin-top: 20px;
        @include flexMix(center, center, column-reverse);
      }
      &__left {
        margin-top: 30px;
        padding-right: 0px;
        width: 95%;
        img {
          width: 650px;
        }
      }
      &__right {
        height: auto;
        padding-left: 0px;
        img {
          width: 300px;
        }
      }
    }
    background: url("../../../../assets/band-background-mobile.png") no-repeat;
    background-position-y: bottom;
    background-size: 100% 70%;
    background-position-x: left;
  }
  .rotation-text {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }

  .about-text {
    @include flexMix(center, center, column);
    text-align: center;
    width: 300px;
  }
}
