/* You can add global styles to this file, and also import other style files */

@import './theme/fonts.scss';

body {
  font-family: 'Code Source Medium';
  margin: 0;
}

.title {
    text-transform: uppercase;
    font-family: 'Code Source Medium';
    font-size: 36px;
}
