/* You can add global styles to this file, and also import other style files */

@import "./theme/fonts.scss";
@import "./theme/colors.scss";
@import "./theme/mixins.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Code Pro LC";
}

.title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Code Pro";
}

.button {
  width: 210px;
  height: 50px;
  background-color: $active-font;
  border-radius: 5px;
  outline: none;
  border: none;
  text-transform: uppercase;
  @include fontStyle(14px, white);
  font-family: "Code Pro Bold";
  @include flexMix;
  margin-top: 37px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 10;

  img {
    padding-right: 10px;
    width: 15px;
  }

  &_dark {
    background-color: $muted-font;
  }
}
